.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  *{
    margin: 0;
    padding: 0;
  }

  /* nav style */

.header{
    background-image: url("../images/developer.png"), url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    background-size: 80px, 50%;

}
.navbar{
    /* background-color: #008080; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 0px 180px 0px 230px;
}
.nav-title{
    font-size: 45px;
    font-weight: 800;
    line-height: 0%;

}

.nav-title-style{
    color: rgb(253, 110, 10);
}
nav ul{
    display: flex;
    list-style: none;
}
nav li{
    margin-right: 60px;


}
.text-color{
    color: rgb(71, 71, 71);
    font-size: 20px;
    font-weight: 400;
    line-height: 57px;
}
nav li a{
    text-decoration: none;
    line-height: 27px;
}
.btn-primary{
    background-color: rgb(253, 110, 10);
    color: rgb(255, 255, 255);
    padding: 18px 36px;
    font-size: 20px;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    bottom: -50px;

}
/* banner style */
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 32px 0px 226px;
}
.bg-primary{
    background-color: #FFF8F3;
}
.banner-content{
    max-width: 582px;
    margin: 150px 163px 100px 25px;
}
.banner-greeting{
    font-size: 45px;
    font-weight: 600;
}
.banner-title{
    color: rgb(24, 24, 24);
    font-size: 85px;
    font-weight: 700;
    line-height: 116px;
    /* letter-spacing: 0%; */
}
.banner-subtitle{
    color: rgb(117, 117, 117);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    /* letter-spacing: 0%; */
    padding: 20px 0px;
}
.banner-profile-pic{
    max-width: 584px;
    right: 100px;
    top: 161px;
    
}
.banner-img{
    margin-bottom: -32px;
    margin-right: 70px;
}
/* main styles */
.main{
    max-width: 1140px;
    margin: 0 auto;
}
/* about styles */

.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.about{
    max-width: 827px;
    margin: 0 auto;
    border-radius: 10px;
    padding: 131px 156px;
    margin-top: 130px;
}
.about-content{
    background-color: #FFFFFF;
    text-align: center;
    border: 2px solid;
    padding: 0px 10px;

}

.section-subtitle{
    margin: 30px 0px;color: rgb(117, 117, 117);
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;

}
.about-items{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}
.item-title{
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
}
.item-description{
    color: #474747;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
}
/* What I do Styles */
.what-i-do{
    max-width: 909px;
    margin: 0 auto;
    right: 346px;
    left: 345px;
    text-align: center;
    
}
.what-i-do-content{ 
    margin-top: 100px;
    padding: 0px 30px;
}